$todo-done-color: map-get($colors, secondary);
$date-details-marker-color: #878787;
.done {
    color: $todo-done-color;
}

.todo-name {
    font-weight: 300;
}

.show-what-section {
    text-align: center;
    padding: 0px;
}

.date-details-marker {
    color: $date-details-marker-color;
    font-size: x-small;
}

.date-details {
    font-size: small;
    opacity: 0.9;
}

.deadline-details {
    float: right;
    margin-right: 15%;
    opacity: 0.9;
}

div.main-todo-container {
    min-height: 97%;
}