till-deadline-counter {
    //border: 1px solid red;
}

.deadline-counter {}

.deadline-counter p {
    opacity: 0.7;
    font-size: small;
    color: map-get($colors, danger);
    float: right;
    margin-right: 15%;
}