<div *ngIf="todoGroups.length > 0; else noTodos">
    <ion-list no-lines *ngFor="let todoGroup of todoGroups | todogroupsort: todoListFilter" class="todo-group" padding>
        <ion-list-header>
            <p>{{ todoGroup.key }}</p>
        </ion-list-header>
        <todo *ngFor="let todo of todoGroup.todos | todosort: todoListFilter" [todo]="todo">
        </todo>
    </ion-list>
</div>
<ng-template #noTodos>
    <div text-center>
        <p color="light">No tasks yet. <br><a>Add One</a></p>
    </div>
</ng-template>